
//OVERWRITE FOUNDATION STYLES
.row{
	margin: 0 auto;
	width: 100%;
	max-width: 90%;
}


//GLOBAL STYLES
//**********************************************
body{
	@include font-smoothing();
}
h2{
	@include cinzelRegular();
	font-size: 2em;
	border-bottom: 1px solid $black;
}
h3{
	@include latoLight();
	font-size: 1.5em;
	color: $darkBlack;
}
article{
	padding-top: 40px;
	padding-bottom: 40px;
}
.background_images{
	padding-top: 60px;
	padding-bottom: 60px;
	h3{
		text-align: center;
	}
	span.quotes{
		margin-top: 20px;
		display: block;
		@include latoLight();
		font-style: oblique;
		text-align: center;
		font-size: 1.2em;
	}
}

//HEADER
//**********************************************
header{
	background: linear-gradient(
      rgba(237,206,178, 0.7), 
      rgba(237, 206, 178, 0.7)
    ), url(../images/piano_hands1.jpg) no-repeat center center;
	background-size: cover;
	// background-attachment: fixed;
	padding-bottom: 5px;
	h1{
		@include cinzelRegular();
		color: $black;
		font-size: 4.2em;
		text-align: center;
		span{
			letter-spacing: 2.5px;
			display: block;
		}
	}
	.logo-menu{
		padding: 30px 0 110px;
	}
	.logo{
		width: 70%;
	}
	.menu{
		padding-top: 36px;
		text-align: right;
	}
	.announce{
		p{
			margin-top: 10px;
			color: $black;
			@include latoLight();
			font-size: 2em;
			text-align: center;
			&:nth-child(3){
				margin-top: 60px;
				font-style: oblique;
				font-size: 2em;
			}
		}
	}
	.callout{
		margin-top: 150px;
		margin-bottom: 20px;
		padding: 20px;
		background: $brown;
		width: 80%;
		p{
			color: $white;
			margin: 5px;
			&.registration{
				@include cinzelRegular();
				font-size: 1.3em;
				letter-spacing: 1px;
			}
		}
		.descriptions_wrapper{
			position: relative;
			.callout_descriptions{
				margin-top: 10px;
				p{
					@include latoLight();
					letter-spacing: 0.4px;
					&:first-child{	
						font-style: oblique;
						font-size: 1.4em;
					}
					&:nth-child(2){
						font-size: 1.2em;
					}
				}
			}
			a.register{
				margin-top: 30px;
				background: $green;
				font-size: 1em;
				text-transform: uppercase;
				padding:10px 20px;
				color: $white;
				display: inline-block;
			}		
		}
	}
}

//ABOUT
//**********************************************

article.about{
	background: #F9E4D4;
	.about_wrapper{
		margin-top: 30px;
	}
	.jp_picture{
		margin-right: 20px;
		width: 20%;
		float: left;
		position: relative;
		img{
			 width: 100%; 
		}
		.jp_picture_tag{
			margin-top: 5px;
			font-size: 14px;
			position: absolute; 
			padding-top: 3px;
			padding-bottom: 3px;
			color: $white;
			bottom: 0;
			background: rgba(0,0,0, 0.5);
			text-align: center;
			font-style: oblique;
		}
	}
	p{
		@include latoRegular();
		font-size: 0.9em;
		line-height: 24px;
	}
	p.bolsas{
		font-size: 16px;
		font-style: oblique;
		text-decoration: underline;
	}

}

// background image
.background_image1{
	background: linear-gradient(
      rgba(237,206,178, 0.8), 
      rgba(237, 206, 178, 0.8)
    ), url(../images/jp_piano.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

article.professores{
	background: $darkBrown;
	.professores_wrapper{
		margin-top: 30px;
		img{
			width: 100%;
		}
	}
}


