
@mixin cinzelRegular(){
	font-family: 'Cinzel', serif;
	font-style: normal;
	font-weight: 400;
}

@mixin cinzelSemiBold(){
	font-family: 'Cinzel', serif;
	font-style: normal;
	font-weight: 600;
}

@mixin cinzelBold(){
	font-family: 'Cinzel', serif;
	font-style: normal;
	font-weight: 700;
}

@mixin latoThin{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 100;
}

@mixin latoLight{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin latoRegular{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
}
@mixin latoSemiBold{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 500;
}

@mixin latoBold{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 700;
}


/*****ANTI ALIASING*****/
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}