// COLORS
$beige         :  #EDCEB2;
$brown         :  #997E6B;
$darkBrown     :  #836E5F;
$footer_color  :  #877470;
$black         :  #020202;
$darkBlack     :  #000011;
$green         :  #638985;
$darkGreen     :  #568279;
$white         :  #E5E3E3;
$whiteDarker   :  #E1E1E1;


// TYPOGRAPHY
