// COLORS
$beige       :  #EDCEB2;
$brown       :  #997E6B;
$darkBrown   :  #997E6B;
$black       :  #020202;
$darkBlack   :  #000011;
$green       :  #638985;
$white       :  #E5E3E3;


// TYPOGRAPHY
